server 
{
	listen          80;
	host localhost;
	server_name     example.com;

	client_max_body_size    10m;

	error_page 404 /404.html;
	error_page 500 /500.html;
	error_page 502 /502.html;

	root /src;

	location /
	{
		root /home;
		autoindex on;
		index index.html index.php;
		allow_methods [GET,POST];
	}

	location /return 
	{
		return 301 _url;
	}

	location /cgi
	{
		fastcgi_index index.php;
	}

	location /upload 
	{
		upload_enable _;
		upload_store /files;
	}
}


############ ANOTHER FILE CONFIG [NOT MINE] ##########
server
{
    host:0.0.0.0
    port:80
    # port:22

    server_name:localhost
    allowed_methods:GET

    location:/
    {
        root=website
        default=index.html
        autoindex=on
    }
    # location:
    # {
    #     root=website
    #     default=index.html
    #     autoindex=on
    # }

    error_page:401:website/error_page/401.html
    error_page:403:website/error_page/403.html
    error_page:404:website/error_page/404.html
    error_page:405:website/error_page/405.html
    error_page:413:website/error_page/413.html
    error_page:500:website/error_page/500.html
    error_page:505:website/error_page/505.html

    location:/*.bla
    {
        allowed_methods=POST
        cgi_uri=/goinfre/ayennoui/ybouddou/test/
    }

    location:/dir
    {
        root=/goinfre/ayennoui/ybouddou
        default=Makefile
        autoindex=on
        redirect=on
        code=301
        redirect_path= http://host/uri
    }

    location:/autoindex
    {
        root=/goinfre/ayennoui/ybouddou
        default=nothing
        autoindex=on
    }

    location:/upload
    {
        root=/goinfre/ayennoui/ybouddou
        allowed_methods=GET,PUT,HEAD,POST
        limit_client_body=20
    }

    location:/methods
    {
        allowed_methods=HEAD
    }

    location:/private/
    {
        root=/goinfre/ayennoui/ybouddou/private
        default=payments
    }

}

server

{
    host:0.0.0.0
    port:8080

    allowed_methods:GET,HEAD
    server_name:ayoub
    root:/goinfre/ayennoui/ybouddou

    location:/
    {
        root=website
        autoindex=on
        default=file.html
        allowed_methods=GET
    }

    location:/dir/
    {
        default=file.html
    }
}

server



{
    host:0.0.0.0
    port:5000

    allowed_methods:GET,HEAD
    root:/goinfre/ayennoui/ybouddou

    location:/
    {
        root=website
        default=file.html
        allowed_methods=GET
    }

